{% load i18n %}{% autoescape off %}
{% blocktranslate %}Получаваш този имейл защото си започнал процес по смяна на паролата за акаунт с име {{ site_name }}.{% endblocktranslate %}

{% translate "Моля отиди в следната страница и си избери нова парола:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Вашият имейл, в случай ,че е забравен:' %} {{ user.get_username }}

{% translate "Благодаря, че използвахте нашия уебсайт!" %}

{% blocktranslate %}Екипът на: {{ site_name }}{% endblocktranslate %}

{% endautoescape %}